<h2 class="max-w-lg mx-auto text-3xl mt-6 text-white text-center">
  Welcome to Apollo!
</h2>

<section class="max-w-lg mx-auto">
  <p class="text-white text-center">Share what you are listening on Spotify!</p>

  <section class="w-60 mx-auto mt-6">
    <%= form_with(
          url: omniauth_authorize_path(resource_name, :google_oauth2),
          method: 'post',
          class: 'p-4 bg-white rounded-md flex items-center justify-center',
          data: { turbo: false }
        ) do |f| %>
      <%= f.submit 'Sign in with Google', class: 'button-primary' %>
    <% end %>
  </section>
</section>
