<h2 class="max-w-lg mx-auto text-3xl mt-6 text-white text-center">
  Welcome to Apollo!
</h2>

<section class="max-w-lg mx-auto">
  <p class="text-white text-center">Share what you are listening on Spotify!</p>

  <%= render NewSessionComponent.new %>
</section>
