<section class="w-60 mx-auto mt-6">
  <%= form_with(
        url: user_google_oauth2_omniauth_authorize_path,
        method: 'post',
        class: 'p-4 bg-white rounded-md flex items-center justify-center',
        data: { turbo: false }
      ) do |f| %>
    <%= f.submit 'Sign in with Google', class: 'button-primary' %>
  <% end %>
</section>
